.main-stats{
    height: 100%;
    text-align: center;
}

.title{
    margin-top: 30px;
}

.section__title{
    color: #D3AE0D;
}

.accordion-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 70px;
}

