.main-stats{
    height: 100%;
    text-align: center;
}

.title{
    margin-top: 30px;
}

.section__title{
    color: #D3AE0D;
    background-color: rgba(41, 39, 4, 0.79);
    border-top: ridge 2px #D3AE0D;
    border-bottom: ridge 2px #D3AE0D;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 70px;
}

