.main-stats{
    height: 100%;
}

.title{
    margin-top: 30px;
}

.accordion-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 100px;
    margin-bottom: 100px;
}

