.link{
    color: black;
    text-decoration: none;
}

.main-itemList{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    width: 90%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.container__item{
    background-color: #342E2D;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.item__inside{
    display: flex;
    flex-direction: column;
}

.item__head{
    background-color: #5D4C03;
}