header{
    width: 100%;
    height: 100px;
    background-color: #342E2D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

nav{
    padding-right: 20px;
}

.header-link{
    color: #D3AE0D !important;
    text-decoration: none;
}

.logo{
    width: 100px;
    color: #D3AE0D;
}